@charset "UTF-8";

/*Versão Mobile*/

:root{
    --cor01:#5F2C82;
    --cor02:#536C91;
    --cor03:#4C959B;
    --cor04:#94CFCD;
    --cor05:#2D6462;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--cor01);
}

main{
    height: 100vh;
    width: 100vw;
}

#login{
    left: 50%;
    top: 50%;
    width: 250px;
    height: 510px;
    position: absolute;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 2px 6px 5px #0000002b;
    transform: translate(-50%,-50%)
}

#imagem{
    height: 200px;
    background: var(--cor01) url(../Imagens/imagem\ de\ fundo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}

#formulario h1{
    padding: 5px;
    text-align: center;
}

#formulario p{
    padding: 10px;
    font-size: .85em;
}

form  label{
    display: none;
}

form input{

}

.campo{
    width: 98%;
    padding: 1px;
    color: white;
    border-radius: 7px;
    margin: 0px auto 10px auto;
    background-color: var(--cor01);
}

form > input[type="submit"]{
    width: 97%;
    padding: 6px;
    border: none;
    color: white;
    display: block;
    font-size: 1.2em;
    border-radius: 5px;
    margin: 5px 5px 7px;
    background-color: var(--cor03);
}

form > input[type="submit"]:hover{
    background-color: var(--cor05);
}

.botao span{
   font-size: 0.9em;
}

.botao{
    width: 97%;
    margin: auto;
    padding: 8px;
    display: block;
    text-align: center;
    color: var(--cor05);
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid var(--cor05);
}

.botao:hover{
    background-color: var(--cor04);
}


